// Generic
html, body {
    margin: 0; font-family: Roboto, sans-serif; font-size: 16px; color: hsl(0, 0%, 25%);
}

// Headings
h1, h2 {
    margin: 1em 0; text-transform: uppercase; user-select: none;
}
h1 + h2 { margin-top: -1em; }
h1 {
    color: hsl(0, 0%, 75%); font-size: 54px; font-weight: 300;
}
h2 {
    color: hsl(0, 0%, 50%); font-size: 46px; font-weight: 400;
}

// Content
#content.message-center {
    margin-top: 10vh;
}
#logo {
    width: 200px; height: 200px;
}
